.features {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
}

.features a:hover {
  text-shadow: 0.5px 0.5px 0px var(--ifm-color-primary-lightest);
}