/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7a7a7a;
  --ifm-color-primary-dark: #6e6e6e;
  --ifm-color-primary-darker: #686868;
  --ifm-color-primary-darkest: #555555;
  --ifm-color-primary-light: #868686;
  --ifm-color-primary-lighter: #8c8c8c;
  --ifm-color-primary-lightest: #9f9f9f;
  --ifm-navbar-height: 100px;
  --ifm-footer-background-color: background-color: var(--ifm-background-surface-color);
  --ifm-heading-font-family: "Space Mono", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #929292;
  --ifm-color-primary-dark: #838383;
  --ifm-color-primary-darker: #7c7c7c;
  --ifm-color-primary-darkest: #666666;
  --ifm-color-primary-light: #a1a1a1;
  --ifm-color-primary-lighter: #a8a8a8;
  --ifm-color-primary-lightest: #bebebe;
  --ifm-footer-background-color: background-color: var(--ifm-background-surface-color);
}


html {
  font-family: "Space Mono", monospace;
  font-variant-ligatures: none;
  overflow-y: scroll; /* Ensures vertical scrollbar is always visible */
}

.navbar__inner {
  max-width: 996px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar__items{
  justify-content: center;
}

.hero {
  text-align: center;
  background-color: var(--ifm-background-colo);
  color: var(--ifm-color-primary);
}

.hero h1 {
  font-size: 800%;
}

@media (max-width: 1100px) {
  .hero h1 {
    font-size: 700%; /* Adjust this value as needed for mobile */
  }
}

@media (max-width: 870px) {
  .hero h1 {
    font-size: 450%; /* Adjust this value as needed for mobile */
  }
}

@media (max-width: 870px) {
  .hero h1 {
    font-size: 320%; /* Adjust this value as needed for mobile */
    overflow: hidden;
  }
}

.container {                                                                                                                      
  max-width: 996px;                                                                                                              
  margin: 0 auto;                                                                                                                 
  padding: 0 20px; /* Optional: Add some padding for better appearance */                                                         
}
